In [79]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
import statsmodels as sm
import seaborn as sns

pd.set_option("display.max_columns", 1000)
sns.set_style('darkgrid')
sns.set_palette('colorblind')
plt.figure(figsize = (13,10))
sns.set(rc={'figure.figsize':(13,10)})
sns.set(style="ticks", color_codes=True)

In [122]:
data = pd.read_csv("data.csv", sep=",")
data.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,RAM,LM,LCM,CM,RCM,RM,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,https://cdn.sofifa.org/teams/2/light/241.png,€110.5M,€565K,2202,Left,5.0,4.0,4.0,Medium/ Medium,Messi,Yes,RF,10.0,"Jul 1, 2004",NaN,2021,5'7,159lbs,88+2,88+2,88+2,92+2,93+2,93+2,93+2,92+2,93+2,93+2,93+2,91+2,84+2,84+2,84+2,91+2,64+2,61+2,61+2,61+2,64+2,59+2,47+2,47+2,47+2,59+2,84.0,95.0,70.0,90.0,86.0,97.0,93.0,94.0,87.0,96.0,91.0,86.0,91.0,95.0,95.0,85.0,68.0,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,https://cdn.sofifa.org/teams/2/light/45.png,€77M,€405K,2228,Right,5.0,4.0,5.0,High/ Low,C. Ronaldo,Yes,ST,7.0,"Jul 10, 2018",NaN,2022,6'2,183lbs,91+3,91+3,91+3,89+3,90+3,90+3,90+3,89+3,88+3,88+3,88+3,88+3,81+3,81+3,81+3,88+3,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3,84.0,94.0,89.0,81.0,87.0,88.0,81.0,76.0,77.0,94.0,89.0,91.0,87.0,96.0,70.0,95.0,95.0,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,https://cdn.sofifa.org/teams/2/light/73.png,€118.5M,€290K,2143,Right,5.0,5.0,5.0,High/ Medium,Neymar,Yes,LW,10.0,"Aug 3, 2017",NaN,2022,5'9,150lbs,84+3,84+3,84+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,88+3,81+3,81+3,81+3,88+3,65+3,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3,79.0,87.0,62.0,84.0,84.0,96.0,88.0,87.0,78.0,95.0,94.0,90.0,96.0,94.0,84.0,80.0,61.0,81.0,49.0,82.0,56.0,36.0,89.0,87.0,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,https://cdn.sofifa.org/teams/2/light/11.png,€72M,€260K,1471,Right,4.0,3.0,1.0,Medium/ Medium,Lean,Yes,GK,1.0,"Jul 1, 2011",NaN,2020,6'4,168lbs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,13.0,21.0,50.0,13.0,18.0,21.0,19.0,51.0,42.0,57.0,58.0,60.0,90.0,43.0,31.0,67.0,43.0,64.0,12.0,38.0,30.0,12.0,68.0,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,https://cdn.sofifa.org/teams/2/light/10.png,€102M,€355K,2281,Right,4.0,5.0,4.0,High/ High,Normal,Yes,RCM,7.0,"Aug 30, 2015",NaN,2023,5'11,154lbs,82+3,82+3,82+3,87+3,87+3,87+3,87+3,87+3,88+3,88+3,88+3,88+3,87+3,87+3,87+3,88+3,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3,93.0,82.0,55.0,92.0,82.0,86.0,85.0,83.0,91.0,91.0,78.0,76.0,79.0,91.0,77.0,91.0,63.0,90.0,75.0,91.0,76.0,61.0,87.0,94.0,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [123]:
# data.to_csv("data.csv", sep=",", index=False)
data= data.drop(["Photo","Flag","Club Logo", "Loaned From"], axis=1)
data.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Contract Valid Until,Height,Weight,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,RAM,LM,LCM,CM,RCM,RM,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,2202,Left,5.0,4.0,4.0,Medium/ Medium,Messi,Yes,RF,10.0,"Jul 1, 2004",2021,5'7,159lbs,88+2,88+2,88+2,92+2,93+2,93+2,93+2,92+2,93+2,93+2,93+2,91+2,84+2,84+2,84+2,91+2,64+2,61+2,61+2,61+2,64+2,59+2,47+2,47+2,47+2,59+2,84.0,95.0,70.0,90.0,86.0,97.0,93.0,94.0,87.0,96.0,91.0,86.0,91.0,95.0,95.0,85.0,68.0,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,2228,Right,5.0,4.0,5.0,High/ Low,C. Ronaldo,Yes,ST,7.0,"Jul 10, 2018",2022,6'2,183lbs,91+3,91+3,91+3,89+3,90+3,90+3,90+3,89+3,88+3,88+3,88+3,88+3,81+3,81+3,81+3,88+3,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3,84.0,94.0,89.0,81.0,87.0,88.0,81.0,76.0,77.0,94.0,89.0,91.0,87.0,96.0,70.0,95.0,95.0,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,2143,Right,5.0,5.0,5.0,High/ Medium,Neymar,Yes,LW,10.0,"Aug 3, 2017",2022,5'9,150lbs,84+3,84+3,84+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,88+3,81+3,81+3,81+3,88+3,65+3,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3,79.0,87.0,62.0,84.0,84.0,96.0,88.0,87.0,78.0,95.0,94.0,90.0,96.0,94.0,84.0,80.0,61.0,81.0,49.0,82.0,56.0,36.0,89.0,87.0,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,193080,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,1471,Right,4.0,3.0,1.0,Medium/ Medium,Lean,Yes,GK,1.0,"Jul 1, 2011",2020,6'4,168lbs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,13.0,21.0,50.0,13.0,18.0,21.0,19.0,51.0,42.0,57.0,58.0,60.0,90.0,43.0,31.0,67.0,43.0,64.0,12.0,38.0,30.0,12.0,68.0,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,2281,Right,4.0,5.0,4.0,High/ High,Normal,Yes,RCM,7.0,"Aug 30, 2015",2023,5'11,154lbs,82+3,82+3,82+3,87+3,87+3,87+3,87+3,87+3,88+3,88+3,88+3,88+3,87+3,87+3,87+3,88+3,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3,93.0,82.0,55.0,92.0,82.0,86.0,85.0,83.0,91.0,91.0,78.0,76.0,79.0,91.0,77.0,91.0,63.0,90.0,75.0,91.0,76.0,61.0,87.0,94.0,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

So there are a total of:

* 44 cts Variable

* 45 categorical variables

In [126]:
len(data)

18207

# Missing Values

In [64]:
columns = data.columns
percent_missing = data.isnull().sum() * 100 / len(data)
missing_value_df = pd.DataFrame({'column_name': columns,
                                 'percent_missing (%)': percent_missing})
missing_value_df.sort_values('percent_missing (%)', inplace=True, ascending=False)
missing_value_df.head(50)

                               column_name  percent_missing (%)
RDM                                    RDM            11.451639
LW                                      LW            11.451639
ST                                      ST            11.451639
LS                                      LS            11.451639
LF                                      LF            11.451639
CF                                      CF            11.451639
RF                                      RF            11.451639
RW                                      RW            11.451639
LAM                                    LAM            11.451639
CAM                                    CAM            11.451639
RAM                                    RAM            11.451639
LM                                      LM            11.451639
LCM                                    LCM            11.451639
CM                                      CM            11.451639
RCM                                    RCM            11.451639
RM                                      RM            11.451639
LWB                                    LWB            11.451639
LDM                                    LDM            11.451639
CDM                                    CDM            11.451639
RWB                                    RWB            11.451639
LB                                      LB            11.451639
LCB                                    LCB            11.451639
CB                                      CB            11.451639
RCB                                    RCB            11.451639
RB                                      RB            11.451639
RS                                      RS            11.451639
Release Clause              Release Clause             8.590103
Joined                              Joined             8.529686
Contract Valid Until  Contract Valid Until             1.587302
Club                                  Club             1.323667
Jersey Number                Jersey Number             0.329544
Position                          Position             0.329544
Jumping                            Jumping             0.263635
Interceptions                Interceptions             0.263635
Aggression                      Aggression             0.263635
LongShots                        LongShots             0.263635
Strength                          Strength             0.263635
Stamina                            Stamina             0.263635
Weight                              Weight             0.263635
ShotPower                        ShotPower             0.263635
Positioning                    Positioning             0.263635
Reactions                        Reactions             0.263635
Agility                            Agility             0.263635
SprintSpeed                    SprintSpeed             0.263635
Balance                            Balance             0.263635
Penalties                        Penalties             0.263635
Vision                              Vision             0.263635
BallControl                    BallControl             0.263635
Composure                        Composure             0.263635
Marking                            Marking             0.263635

In [127]:
investigate_0 = data[["Value","Wage","Release Clause"]]
len(investigate_0[investigate_0["Release Clause"].isnull()])

1564

In [83]:
# ax = sns.barplot(x="percent_missing (%)", y="column_name", 
#                  data=missing_value_df)

In [129]:
monetary_col = ["Value","Wage","Release Clause"]

for col in monetary_col:
    if col != "Release Clause":
        data[col] = data[col].apply(lambda x: 
                                    float(x.replace("€", "").replace("M", ""))*1000000 if "M" in x
                                    else float(x.replace("€", "").replace("K", ""))*1000)      
    else:        
        data[col] = data[col].fillna("0.001K").apply(lambda x: 
                                    float(x.replace("€", "").replace("M", ""))*1000000 if "M" in x
                                    else float(x.replace("€", "").replace("K", ""))*1000)

In [130]:
data.describe()

,ID,Age,Overall,Potential,Value,Wage,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
count,18207.000000,18207.000000,18207.000000,18207.000000,1.820700e+04,18207.000000,18207.000000,18159.000000,18159.000000,18159.000000,18147.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,1.820700e+04
mean,214298.338606,25.122206,66.238699,71.307299,2.410696e+06,9731.312133,1597.809908,1.113222,2.947299,2.361308,19.546096,49.734181,45.550911,52.298144,58.686712,42.909026,55.371001,47.170824,42.863153,52.711933,58.369459,64.614076,64.726967,63.503607,61.836610,63.966573,55.460047,65.089432,63.219946,65.311967,47.109973,55.868991,46.698276,49.958478,53.400903,48.548598,58.648274,47.281623,47.697836,45.661435,16.616223,16.391596,16.232061,16.388898,16.710887,4.191200e+06
std,29965.244204,4.669943,6.908930,6.136496,5.594933e+06,21999.290406,272.586016,0.394031,0.660456,0.756164,15.947765,18.364524,19.525820,17.379909,14.699495,17.694408,18.910371,18.395264,17.478763,15.327870,16.686595,14.927780,14.649953,14.766049,9.010464,14.136166,17.237958,11.820044,15.894741,12.557000,19.260524,17.367967,20.696909,19.529036,14.146881,15.704053,11.436133,19.904397,21.664004,21.289135,17.695349,16.906900,16.502864,17.034669,17.955119,1.070778e+07
min,16.000000,16.000000,46.000000,48.000000,0.000000e+00,0.000000,731.000000,1.000000,1.000000,1.000000,1.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,6.000000,3.000000,9.000000,5.000000,12.000000,12.000000,14.000000,21.000000,16.000000,2.000000,15.000000,12.000000,17.000000,3.000000,11.000000,3.000000,2.000000,10.000000,5.000000,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00
25%,200315.500000,21.000000,62.000000,67.000000,3.000000e+05,1000.000000,1457.000000,1.000000,3.000000,2.000000,8.000000,38.000000,30.000000,44.000000,54.000000,30.000000,49.000000,34.000000,31.000000,43.000000,54.000000,57.000000,57.000000,55.000000,56.000000,56.000000,45.000000,58.000000,56.000000,58.000000,33.000000,44.000000,26.000000,38.000000,44.000000,39.000000,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000,3.920000e+05
50%,221759.000000,25.000000,66.000000,71.000000,6.750000e+05,3000.000000,1635.000000,1.000000,3.000000,2.000000,17.000000,54.000000,49.000000,56.000000,62.000000,44.000000,61.000000,48.000000,41.000000,56.000000,63.000000,67.000000,67.000000,66.000000,62.000000,66.000000,59.000000,66.000000,66.000000,67.000000,51.000000,59.000000,52.000000,55.000000,55.000000,49.000000,60.000000,53.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000,1.000000e+06
75%,236529.500000,28.000000,71.000000,75.000000,2.000000e+06,9000.000000,1787.000000,1.000000,3.000000,3.000000,26.000000,64.000000,62.000000,64.000000,68.000000,57.000000,68.000000,62.000000,57.000000,64.000000,69.000000,75.000000,75.000000,74.000000,68.000000,74.000000,68.000000,73.000000,74.000000,74.000000,62.000000,69.000000,64.000000,64.000000,64.000000,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000,3.000000e+06
max,246620.000000,45.000000,94.000000,95.000000,1.185000e+08,565000.000000,2346.000000,5.000000,5.000000,5.000000,99.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,94.000000,94.000000,93.000000,96.000000,97.000000,96.000000,96.000000,96.000000,96.000000,95.000000,95.000000,96.000000,97.000000,94.000000,95.000000,92.000000,95.000000,94.000000,92.000000,96.000000,94.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000,2.281000e+08

In [134]:
# after transform
investigate_0 = data[["Value","Wage","Release Clause"]]
len(investigate_0[investigate_0["Release Clause"] == 1.0])

1564

In [137]:
investigate_0[investigate_0["Release Clause"] == 1.0].head(10)

          Value      Wage  Release Clause
28   69500000.0  315000.0             1.0
38   57000000.0  245000.0             1.0
91   37000000.0  235000.0             1.0
166  36500000.0   18000.0             1.0
176  35000000.0  165000.0             1.0
332  22500000.0   57000.0             1.0
354  18000000.0   57000.0             1.0
357  21000000.0   48000.0             1.0
427  20000000.0   72000.0             1.0
434  17000000.0   85000.0             1.0

In [138]:
investigate_0.head(10)

         Value      Wage  Release Clause
0  110500000.0  565000.0     226500000.0
1   77000000.0  405000.0     127100000.0
2  118500000.0  290000.0     228100000.0
3   72000000.0  260000.0     138600000.0
4  102000000.0  355000.0     196400000.0
5   93000000.0  340000.0     172100000.0
6   67000000.0  420000.0     137400000.0
7   80000000.0  455000.0     164000000.0
8   51000000.0  380000.0     104600000.0
9   68000000.0   94000.0     144500000.0

In [141]:
investigate_1 = investigate_0[investigate_0["Release Clause"] != 1.0]
investigate_1["Clause_To_Val"] = investigate_1["Release Clause"]/investigate_1["Value"]
investigate_1.describe()

/Users/hq2nguye/anaconda3/envs/Elo2018/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

              Value           Wage  Release Clause  Clause_To_Val
count  1.664300e+04   16643.000000    1.664300e+04   16643.000000
mean   2.442667e+06    9618.037613    4.585061e+06       1.799848
std    5.720629e+06   22263.518927    1.111872e+07       0.339705
min    1.000000e+04    1000.000000    1.300000e+04       0.990909
25%    3.000000e+05    1000.000000    5.250000e+05       1.538462
50%    6.750000e+05    3000.000000    1.100000e+06       1.755556
75%    2.000000e+06    8000.000000    3.500000e+06       2.000000
max    1.185000e+08  565000.000000    2.281000e+08       4.358333

In [142]:
investigate_1["Clause_To_Val"].median()

1.7555555555555555

In [143]:
investigate_1["Clause_To_Val"].mean()

1.7998484115466489

In [151]:
df = investigate_1.groupby('Clause_To_Val')["Value"].nunique().sort_values(ascending=False)
print(df.head(10)) # Dropped this as well

Clause_To_Val
2.0    91
1.6    61
1.5    60
2.2    60
1.7    59
1.9    55
1.8    51
2.1    47
1.4    42
2.4    40
Name: Value, dtype: int64

In [152]:
investigate_1[investigate_1["Clause_To_Val"] == 2.0].head(10)
# Note that the Value here are smaller than of those with clause to val >1.7 <1.8

          Value     Wage  Release Clause  Clause_To_Val
94   39000000.0  28000.0      78000000.0            2.0
145  16500000.0  25000.0      33000000.0            2.0
175  20000000.0  22000.0      40000000.0            2.0
194  25500000.0  22000.0      51000000.0            2.0
204  26000000.0  26000.0      52000000.0            2.0
299  17000000.0  18000.0      34000000.0            2.0
308  12500000.0  17000.0      25000000.0            2.0
310  12500000.0  15000.0      25000000.0            2.0
318   1500000.0  10000.0       3000000.0            2.0
375  18500000.0  19000.0      37000000.0            2.0

In [165]:
investigate_1[(investigate_1["Clause_To_Val"] >= 1.7) & 
              (investigate_1["Clause_To_Val"] <= 1.8)]["Value"].mean()/1000000

3.218618873110399

In [162]:
investigate_1[(investigate_1["Clause_To_Val"] >= 2)]["Value"].mean()/1000000

3.00163527586971

## Question?
Should we just consider replacing Clause by the Clause_To_Val ratio... this would make fillna with mean/median a lot ezier